*,
*::before,
*::after {
	box-sizing: border-box;
	font-weight: normal;
}

body {
	background: skyblue;
	padding: 0;
	margin: 0;
}

/* CALCULATOR-BUTTONS */
.calculator-grid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 700px;
	max-width: 500px;
	border-radius: 7px;
	box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
	background-color: rgb(25, 25, 26);
}

.calculator-grid .span-two {
	border-radius: 5px;
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	background-color: rgb(240, 248, 255);
}

.calculator-grid > button:hover {
	background-color: rgb(240, 248, 255, 0.8);
}

.span-two {
	grid-column: span 2;
}

.calculator-grid .oper {
	background-color: rgb(241, 139, 5);
	border: none;
}

.calculator-grid .oper:hover {
	background-color: rgb(241, 139, 5, 0.8);
}

.calculator-grid .gray {
	background-color: rgb(186, 181, 181);
	border: none;
}

.calculator-grid .gray:hover {
	background-color: rgb(186, 181, 181, 0.9);
}

/* CALCULATOR DISPLAY */
.calculator_display {
	grid-column: 1 / -1;
	background-color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
	border-radius: 5px;
}

.calculator_display .previous-operand {
	color: rgba(74, 122, 1, 0.779);
	font-size: 1.5rem;
	font-weight: 900;
	text-shadow: rgb(153, 251, 6) 5px 0 20px;
}

.calculator_display .current-operand {
	color: rgba(74, 122, 1, 0.779);
	font-size: 2.5rem;
	font-weight: 900;
	text-shadow: rgb(153, 251, 6) 5px 0 20px;
}
